.home-wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    min-width: min-content;
    min-height: fit-content;
    background-image: url("../assets/homepg.png"); /* Use a relative path */
    background-size: cover;
    background-position: center;
    align-items: flex-start; /* Align items to the top */
    box-sizing: border-box;
    overflow: auto;
}

.logo-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    min-width: min-content;
}

.logo {
    @media (min-width: 601px) {
        max-width: 600px; /* Adjust size as needed */
        width: 100%; /* Set width to 100% on smaller screens */
    }
    @media (max-width: 600px) {
        display: none;
    }
}

.content-wrapper {
    min-width: 400px;
    width: 100%;
    text-align: center;
    margin-right: 50px;
}

.slogan {
    margin-bottom: 200x;
}
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rounded-rect-btn {
    background-color: #f0f0f0;
    border: none;
    color: #323;
    @media (max-width: 500px) {
        min-width: 400px; /* Adjust size as needed */
        width: 100%; /* Set width to 100% on smaller screens */
    }
    width: 500px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px; /* Adjust this value to change the roundness */
}

.buttons button:hover {
    background-color: #0056b3; /* Change the background color on hover */
}

