$linkedinBlue1: #0072b1;
$linkedinBlue2: #0073b1;
$linkedinBlue3: #004c75;

body {
  margin: 0;
  padding: 0;
}

.login-wrapper {
  background-size: cover; /* or 'contain' depending on your preference */
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  min-width: 469px;

  .login-wrapper-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      height: 100%;
  }

  .dormLogo { 
    margin-top: 30px;
    margin-bottom: -30px;
  }

  .heading {
    font-family: system-ui;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
  }

  .sub-heading {
    margin-top: -20px;
    font-family: system-ui;
  }
}

.login-btn {
  width: 300px;
  height: 50px;
  cursor: pointer;
  background-color: $linkedinBlue2;
  border-radius: 30px;
  outline: none;
  border: none;
  font-family: system-ui;
  font-weight: 600;
  color: #ffffff;
  font-size: 18px;
  margin-top: 20px;
}

.login-btn:hover {
  background-color: $linkedinBlue3;
}

.auth-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}


.google-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .google-btn {
    width: 300px !important;
  }

  .go-to-signup {
    font-size: 18px;
  }

  .join-now {
    color: $linkedinBlue1;
    font-family: system-ui;
    cursor: pointer;
    font-size: 18px;
  }
}